$primary :rgb(252, 50, 198);
$secondary:rgb(200, 0, 255);
$success: rgb(1, 254, 1);
$warning:rgb(255, 255, 76);
$danger: rgb(255, 26, 26);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";





@import "../node_modules/bootstrap/scss/bootstrap.scss";
